body { 
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('cloud2.png'); /* Set the background image */
  background-size: cover;             /* Scale image to fully cover the screen */
  background-repeat: no-repeat;       /* Prevent image from repeating */
  background-attachment: fixed;       /* Ensure background stays in place with scrolling */
  margin: 0; 
  overflow: hidden; /* Prevent scrollbars */
  animation: pan 30s linear infinite;
}
@keyframes pan {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%; 
  }
}
.container {
  /* Existing container styles */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 20px;
}

#weatherInfo {
 /* Styles for the current weather section */
 display: grid;
 grid-template-columns: 1fr;
 justify-content: center;
 align-items: center;
}


#forecast {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 15px;
}

.forecast-item {
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 8px;
  padding: 15px;
  text-align: center;
}
