body {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    background-image: linear-gradient(to bottom, #225588, #88bbee); /* Blue ombre gradient */
    background-size: 400% 400%; /* Make the gradient larger than the screen */
    animation: gradientAnimation 10s ease infinite; 
}

@keyframes gradientAnimation {
    0% { 
        background-position: 0% 50%;
    }
    50% { 
        background-position: 100% 50%; 
    }
    100% { 
        background-position: 0% 50%; 
    }
}
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
